@page "/backgroundthreads"

<h1>Background Threads</h1>

This page demonstrates delegating work to "background threads" and showing that the UI is not blocked while "background" work is processing.

@code
{
	protected async override Task OnInitializedAsync()
	{
	}
}
