@page "/unmanaged"

<h1>Unmanaged Code</h1>

This page demonstrates calling unmanaged C++ code passing objects / complex structures.

@code
{
	protected async override Task OnInitializedAsync()
	{
	}
}
